body {
    font-family: Verdana, Arial, sans-serif;
    box-sizing:border-box;
    background-color: rgb(176, 207, 236);
}

.title, .homepage-sub, .centered{
    text-align: center;
}

.homepage-sub {
    font-weight: 100;
}

.inline-border {
    border-top: 3px solid;
    width: 200px;
    margin: 35px auto;
}

.title {
    border-bottom: solid 3px;
    border-color: rgb(0, 0, 0);
    height:auto;
    padding: 10px;
    width: 600px;
    margin: 40px auto;
    font-size: 90px;
}

.recipe-list {
    display:flex;
    margin: 30px auto;
}

#home-button{
    text-align:right;
    display:block;
    margin-bottom:25px;
    margin-right:25px;
}

#home-button .recipe-button {
    font-size: 20px;
}

.recipe-button {
    padding: 10px;
    margin: auto;
    font-size: 32px;
    background-color: rgb(181, 150, 255)
}

.recipe-button:hover {
    padding: 15px;
    background-color: rgb(166, 129, 255)
}
.recipe-heading {
    display:inline;
    margin-left: -17px;
}

.recipe-section {
    border-left: 2px solid black;
    padding-left: 30px;
    margin: 25px 300px auto 75px;
}

.reference {
    /* background-color: rgb(233, 233, 233) */
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.image-footer {
    font-size:11px;
}
.recipe-button a {
    padding: 20px;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}